body{
	background-image: url(../img/hogwarts.jpg);
	height: 800px;
	width: 100%;
} 
.navbar{
	width: 100%;
	height: 100px;
	background-color: black;
}
.navbar h1{
	color: white;
	font-weight: bold;
	font-family: cursive;
}
.cambio{
	position:relative;
	left: 300px;
}
.caja-fotos{
	width: 100%;
	margin: auto;
}
#pic1{
	background-image: url(../img/gryffindor.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 80vh;
	position: absolute;

}
#pic2{  
	background-image: url(../img/hufflepuff.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 80vh;
}
#pic3{
	background-image: url(../img/revenclaw.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 80vh;
}
#pic4{
	background-image: url(../img/slytherin.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 80vh;
}
#pic5{
	background-image: url(../img/escudo-hogwarts.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 80vh;
}
.cambio .picture{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1;
}
.carousel-left, .carousel-right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;
	color: white;
	font-size: 30px;
	cursor: pointer;
	z-index: 222;
}
.carousel-left{
	left: 100px;
}
.carousel-right{
	right: 100px;
}
.carousel{
	position: absolute;
	top: 79vh;
	width: 100%;
	z-index: 333;
	display: flex;
	justify-content: center;
}
.fa-circle{
	margin: 3px;
	color: white;
	font-size: 22px;
	color: white;
}
.el-footer{
	height: 50px;
	width: 100%;
	background-color: black;
	color: whitesmoke;
	font-weight: bold;
	top: 800px;
	position: absolute;
}
